<div class="flip-card one-one {{if isFlipped "flip" ""}}" {{action 'show'}}>
  <div class="flip-card-cover">
    <!-- cover -->
  </div>
  <div class="flip-card-figure">
    <!-- figure -->
    <img src={{card.figure}} class="img-max" />
  </div>
</div>
