{{#if isNotEmpty}}
  {{#each setup.cards as |card|}}
    <div class="game-board-card-container grid-{{gridSize}} grid-{{gridSize}}-mobile">
      {{yield (hash value=card.value figure=setup.figure) (action "flip")}}
    </div>
  {{/each}}
{{else}}
  <p class="game-board-empty-message">
    THERE ISN'T ANY CARD TO DISPLAY
  </p>
{{/if}}
