body {
  /* stylelint-disable */
  background:
    linear-gradient($color-white 50%, $color-transparent 0) 0 0,
    radial-gradient(circle closest-side, $color-white 53%, $color-transparent 0) 0 0,
    radial-gradient(circle closest-side, $color-white 50%, $color-transparent 0) 55px 0  $color-yellow;
  /* stylelint-enable */
  background-color: $color-yellow;
  background-repeat: repeat-x;
  background-size: 110px 200px;
  height: 100%;
  width: 100%;
}

@media (max-width: $size-phone) {

  .grid-10-mobile {
    flex-basis: 100%;
  }
}

.title {
  color: $color-red;
  font-family: $font-lobster;
  font-size: 58px;
  line-height: 72px;
  margin-top: 10px;
  min-height: 120px;
  text-align: center;
  text-shadow:
    3px 3px 0 $color-black,
    -1px -1px 0 $color-black,
    1px -1px 0 $color-black,
    -1px 1px 0 $color-black,
    1px 1px 0 $color-black;
  -webkit-text-stroke: 1px $color-black;

  @media (min-width: $size-tablet) {
    font-size: 80px;
    line-height: 100px;
  }

  @media (min-width: $size-phone) and (max-width: $size-tablet) {
    line-height: 120px;
  }
}
