.game-board {
  font-size: 1em;

  .game-board-size-4 {
    flex: 0 0 25%;
    padding: rem(10);
  }

  .game-board-size-6 {
    flex: 0 0 16.6%;
    padding: rem(6);
  }

  .game-board-size-8 {
    flex: 0 0 12.5%;
    padding: rem(5);
  }

  .score {
    font-size: em(25);

    .score-label {
      margin-left: em(10);
      margin-right: em(5);
    }

    .score-value {
      @include heading-font(25);

      &.hits {
        color: $color-aqua;
      }

      &.misses {
        color: $color-red;
      }
    }
  }
}
