.game-board {
  font-size: 1em;

  .game-board-size-4 {
    flex: 1 1 auto;
    width: rem(174);
    height: rem(174);
    padding: rem(10);
  }

  .game-board-size-6 {
    flex: 1 1 auto;
    width: rem(115);
    height: rem(115);
    padding: rem(6);
  }

  .game-board-size-8 {
    flex: 1 1 auto;
    width: rem(85);
    height: rem(85);
    padding: rem(5);
  }


  .score {
    font-size: em(25);

    .score-label {
      margin-left: em(10);
      margin-right: em(5);
    }

    .score-value {
      @include heading-font(25);

      &.hits {
        color: $color-aqua;
      }

      &.misses {
        color: $color-red;
      }
    }
  }
}
