.game-board-card-container {
  padding: 6px;
}

@media (min-width: $size-tablet) {

  .game-board-card-container {
    padding: 6px;
  }
}

@media (min-width: $size-desktop) {

  .game-board-card-container {
    padding: 6px;
  }
}
