.main-menu {
  list-style: none;
  margin: 0 auto;
  text-align: center;

  li a {
    color: $color-white;
    font-family: Play;
    font-size: 60px;
    line-height: 100px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow:
      3px 3px 0 $color-black,
      -1px -1px 0 $color-black,
      1px -1px 0 $color-black,
      -1px 1px 0 $color-black,
      1px 1px 0 $color-black;
    -webkit-text-stroke: 1px $color-black;

    &:visited {
      color: $color-white;
    }

    &:hover {
      color: $color-aqua;
      font-size: 65px;
    }
  }
}

