.options-label {
  flex: 1 1;
  line-height: rem(60);
  font-size: em(30);
}

.options-container {
  flex: 2 1;
}

.options-button {
  display: inline-block;
  height: rem(80);
  margin-right: rem(20);
  width: rem(80);
  background-color: $color-white;
  border: rem(4) solid $color-transparent;
  @include box-shadow-effect;
  cursor: pointer;
  position: relative;

  &:hover,
  &.selected {
    border: rem(4) solid $color-aqua;
  }
}

.options-button-figure,
.options-button-size {
  border-radius: rem(10);
  height: 100%;
  padding: em(2);
  width: 100%;
  line-height: rem(60);
}

.options-button-size {
  background-image: url("/images/option-grid.png");
  background-size: 100%;
  font-size: rem(29);
  padding: rem(5);
  position: absolute;
  white-space: nowrap;
}

.options-switch {
  position: relative;
  display: inline-block;
  width: rem(60);
  height: rem(34);
}

.options-switch .options-switch-checkbox {
  display: none;
}

.options-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-red;
  transition: .4s;
  @include box-shadow-effect;
}

.options-switch-slider:before {
  position: absolute;
  content: "";
  height: rem(26);
  width: rem(26);
  left: rem(4);
  bottom: rem(4);
  background-color: $color-white;
  transition: .4s;
  border-radius: 50%;
  border: rem(2) solid $color-black;
}

.options-switch-checkbox:checked + .options-switch-slider {
  background-color: $color-aqua;
}

.options-switch-checkbox:focus + .options-switch-slider {
  box-shadow: 0 0 rem(1) $color-black;
}

.options-switch-checkbox:checked + .options-switch-slider:before {
  transform: translateX(rem(26));
}
