$color-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-black: #000000;
$color-yellow: #ffd23f;
$color-red: #ee4266;

$font-lobster: Lobster, Georgia, Times, serif;

$size-desktop-big: 1200px;
$size-desktop: 960px;
$size-tablet: 768px;
$size-phone: 407px;
