<div class="row">
  <div class="grid-12">
    <h1 class="title">Flip The Tomster</h1>
  </div>
</div>
<div class="row row--align-center">
  <div class="grid-6 grid-10-mobile grid-10-tablet">
    <div class="row">
      {{#game-board setup=model as |card flip|}}
        {{flip-card card=card onFlip=flip}}
      {{/game-board}}
    </div>
  </div>
</div>
