<div class="row">
  <div class="grid-12">
    <h1 class="title">
      {{#link-to "home"}}Flip The Tomster{{/link-to}}
    </h1>
  </div>
</div>
<div class="row row--align-center">
  <div class="grid-8 grid--ofset-2 grid-10-tablet">
    <div class="row canvas">
      {{outlet}}
    </div>
  </div>
</div>
