<div class="page">
  <div class="header waves">
    <h1 class="header-title">
        {{#link-to "home"}}Flip The Tomster{{/link-to}}
    </h1>
  </div>
  <div class="page-content">
    {{outlet}}
  </div>
</div>
