<div class="section">
  <div class="section-title">
    Credits
  </div>
</div>

<div class="section">
  Source code in &nbsp;<a href="https://github.com/mvdwg/flip-the-tomster" target="_blank" rel="noreferrer noopener">Github</a>
</div>

<div class="section">
  <dl>
    <dt>
      Music from <a rel="external" href="www.bensound.com">Bensound</a>
    </dt>
    <dd>
      <a rel="noreferrer noopener" target="_blank" href="http://www.bensound.com/royalty-free-music/track/country-boy">
        Country boy
      </a>
      <br>
      <a rel="noreferrer noopener" target="_blank" href="http://www.bensound.com/royalty-free-music/track/jazzy-frenchy">
        Jazzy frenchy
      </a>
    </dd>
  </dl>
</div>

<div class="section">
  {{#link-to "application" class="section-back"}}&lt; Go Back{{/link-to}}
</div>
