<div class="section">
  <div class="section-title">
    Credits
  </div>
</div>

<div class="section">
  Source code in &nbsp;<a href="https://github.com/mvdwg/flip-the-tomster" target="_blank" rel="noreferrer noopener">Github</a>
</div>

<div class="section">
  {{#link-to "application" class="section-back"}}&lt; Go Back{{/link-to}}
</div>
