<div class="credits grid-12">
  <div class="row section">
    <div class="grid-12 section-title">
      Credits
    </div>
  </div>
  <div class="row section">
    <div class="grid-12">
      Source code in <a href="https://github.com/mvdwg/flip-the-tomster" target="_blank" rel="noreferrer noopener">Github</a>
    </div>
  </div>
  <div class="row section">
    <div class="grid-12">
      {{#link-to "application" class="back"}}&lt; Go Back{{/link-to}}
    </div>
  </div>
</div>
